<% include ../partials/header %>
	<%if(currentUser){%>
	<button class="big-btn"><i class="far fa-plus-square"></i>Make a New Entry</button>
    <form class="form-all" action="/entries" method="POST">
        <input type="text" class="input title" placeholder="Title of your entry" name="title" required/>
        <div class="input content">
            <textarea name="content" id="content" cols="90" rows="20" placeholder="Your definition..." required></textarea>
        </div>
        <button type="submit" class="submit-btn">Submit Your Definition</button>
    </form>
    <%} %>
    <% newList = []; %>
    <% filterList = []; %>
    <% entries.forEach((entry)=>{ %>
    <%    if(!filterList.includes(entry.title)){ %>
	<%        newList.push(entry); %>
	<%        filterList.push(entry.title); %>
	<%     } %>
<% }) %>
    <% newList.forEach((entry)=>{ %>
    <h3 class="entry title"> <a href="/entries/<%= entry.title %>"><%= entry.title %></a></h3>
    <p class="entry content"><%= entry.content %></p>
    <button class="like-btn" id="<%= entry._id %>"><i class="far fa-thumbs-up"><%= entry.likes %></i></button>
    <button class="dislike-btn" id="<%= entry._id %>"><i class="far fa-thumbs-down"></i></button>
    <p class="entry author">submitted by: <a href="/user/<%= entry.author.id %>/profile"><%= entry.author.username %></a></p>
    <p class="entry created"><%= (entry.created.toString()).substring(4,21) %></p>
    <%if(currentUser && entry.author.id.equals(currentUser._id)){%>
    <div class="entry-group">
    <button><a class="entry-btn" href="/entries/<%= entry._id %>/edit" >Edit</a></button>
    <form action="/entries/<%= entry._id %>/?_method=DELETE" method="POST">
        <input class="entry-btn" type="submit" value="Delete"/>
    </form>
    </div>
    <%} %>
    <hr>
    <%}) %>
    <% if(pageNum > 1){ %>
    <div class="page box"> 
      <% for(let  i= 2;i <= pageNum; i++){%>
        <p class="page item"><a href="/entries/page/<%= i %>"><%= i %></a></p>
      <% } %>
    </div>
    <% } %>
   
<% include ../partials/footer %>
